#drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;

  #display {
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 12px;
    margin: 30px 0 30px 0;
    background-color: #BCDBFF;
    border-radius: 5px;
  }

  #drum-pads {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 20px;

    button {
      width: 100px;
      height: 100px;
      background-color: #73B4FF;
      border-radius: 20px;
      border: none;
      outline: none;
      box-shadow: 1px 1px 1px 2px #38597F;
      font-size: 30px;
      color: #38597F
    }
    button:hover {
      transform: scale(1.1);
      opacity: 0.9;
    }
  }
}
